body {
  margin: 0;
  box-sizing: border-box;
  background-color: lightsteelblue;
}

header {
  padding: 0px 0px 0px 25px;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  background-color: black;
  color: antiquewhite;
}
nav {
  background-color: black;
  color: antiquewhite;
}
ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.securities {
  box-sizing: border-box;
  background-color: white;
}

div {
  margin: 25px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
