.top {
  margin: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100px 50px 50px;
  }

body {
  margin: 0;
  box-sizing: border-box;
  height: 100vh
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background-color: lightsteelblue;
}

header {
  box-sizing: border-box;
  background-color: black;
  color: antiquewhite;
}
nav {
  box-sizing: border-box;
  background-color: black;
  color: antiquewhite;
}
ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.securities {
  box-sizing: border-box;
  background-color: white;
  color: black;
}

.latest {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.news {
  margin: 25px;
  padding: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  }
